:host ::ng-deep {
  .p-sidebar-right {
    .p-sidebar-header {
      padding: 1rem 1.5rem;
      border-bottom: 1px solid #dee2e6;

      h2 {
        margin: 0;
        font-size: 1.5rem;
        font-weight: 600;
        color: #343a40;
      }
    }

    .p-sidebar-content {
      padding: 0;
    }
  }
}
