<p-sidebar
   [(visible)]="this.state().visible"
    position="right"
    [style]="{width: '30rem'}"
    [baseZIndex]="1000"
    (onHide)="onHideSideBar()"
    >
    <ng-template pTemplate="header">
      <h2 class="text-xl font-bold m-0">Learning History</h2>
    </ng-template>

    <div class="p-3">
      @if (state().loading) {
        <div class="flex flex-column align-items-center justify-content-center min-h-screen">
          <p-progressSpinner styleClass="mb-3"></p-progressSpinner>
          <span class="text-secondary">Loading your learning history...</span>
        </div>
      } @else if (historyStore.historyEntities().length === 0) {
        <div class="flex flex-column align-items-center justify-content-center min-h-screen">
          <i class="pi pi-info-circle text-6xl text-blue-500 mb-3"></i>
          <p class="text-secondary mb-2">You don't have any learning history yet.</p>
          <p class="text-secondary">As you interact with the stock tutor, your questions and answers will appear here.</p>
        </div>
      } @else {
        <div>
          @for (item of historyStore.historyEntities(); track item.question) {
            <p-card
              [styleClass]="historyStore.selectedTutorQuestion().question === item.question ? 'mb-3 border-left-3 border-primary surface-hover' : 'mb-3 surface-hover'"
              (click)="onSelectHistoryItem(item.question)"
              [style]="{'cursor': 'pointer', 'transition': 'box-shadow 0.2s'}">
              <ng-template pTemplate="title">
                <div class="text-lg font-medium">{{ item.question }}</div>
              </ng-template>
            </p-card>
          }

          @if (historyStore.selectedTutorQuestion()) {
            <div class="mt-4">
              <p-divider></p-divider>
              <h3 class="text-xl font-medium text-primary mb-3">Session Details</h3>

              <p-card styleClass="mb-3 surface-ground">
                <ng-template pTemplate="title">
                  <div class="text-lg font-medium">Question</div>
                </ng-template>
                <ng-template pTemplate="content">
                  <p>{{historyStore.selectedTutorQuestion().question }}</p>
                </ng-template>
              </p-card>

              <p-card styleClass="surface-blue-50">
                <ng-template pTemplate="title">
                  <div class="text-lg font-medium">Answer</div>
                </ng-template>
                <ng-template pTemplate="content">
                  <p>{{ historyStore.selectedTutorQuestion.correctAnswer }}</p>
                </ng-template>
              </p-card>
            </div>
          }
        </div>
      }
    </div>
</p-sidebar>
